# Local state / working files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan_output.txt
crash.log
crash.*.log

# Sensitive / local-only config
**/backend.hcl
**/terraform.tfvars
*.auto.tfvars
*.pem
*.pfx

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
